:root{
  --ubaapp-dark-gray: #302F2F;
  --ubaapp-light-gray: #879098;
  --ubaapp-lighter-gray: #A6A7A8;
  --ubaapp-lightest-gray: #EFF0F1;
  --ubaapp-very-light-gray: #F5F6F8;
  --ubaapp-off-white: #FCFCFC;
  --ubaapp-maroon: #D52F27;
  --ubaapp-maroon-deep: #C31F16;
  --ubaapp-blue: #4374BA;
  --ubaapp-green: #1BB516;
}
*{
  box-sizing: border-box;
}
.hide{display: none}
body,html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--ubaapp-dark-gray);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .85rem;
}
a{color: var(--ubaapp-lightest-gray);text-decoration: none;}

ul{padding: 0; list-style: none;}
p{
  font-size: .8rem;
}
.login-bg{
  background: url("./images/bg.jpg") no-repeat 100%;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card{
  width: 260px;
  padding: 10px 20px 15px;
  background: #FFFFFF;
  margin: 1rem 0;
  border-radius: 3px;
  box-shadow: 0px 3px 30px rgba(0,0,0,0.4);
}
.login-card h2{
  color: var(--ubaapp-dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-card img{
  height: 42px;
}
.login-card form{
  display: block;
}
.ubaapp-form-group{
  margin-bottom: .4rem;
  font-size: .8rem;
}
.ubaapp-form-group label, .ubaapp-form-group input{
  display: inline-block;
  margin-bottom: .15rem;
}
.ubaapp-form-group label{
  color: var(--ubaapp-light-gray);
}
.ubaapp-form-group input{
  padding: .5rem;
  width: 100%;
  border: 1px solid var(--ubaapp-lightest-gray);
  color: var(--ubaapp-dark-gray);
  box-sizing: border-box;
}
.ubaapp-form-group input:focus{
  outline: none;
  box-shadow: inset 0 0 3px var(--ubaapp-lighter-gray);
}
.login-card form small{
  color: var(--ubaapp-light-gray);
  font-size: .7rem;
  display: block;
}
.ubaapp-button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 1rem;
  cursor: pointer;
  font-weight: 600;
}
.login-button {
  color: var(--ubaapp-off-white);
  background: var(--ubaapp-maroon);
  margin: 1.2rem 0;
  border: 0;
  transition: 250ms;
}
.login-button:hover{
  background: var(--ubaapp-light-gray);
}
.login-card p{
  font-size: .8rem;
  color: var(--ubaapp-dark-gray);
  margin: 0;
}
.register-button{
  color: var(--ubaapp-maroon);
  background: #FFFFFF;
  margin: 0.4em 0 .83em;
  border: 1px solid var(--ubaapp-maroon);
}

/*********************************************
******** //   D A S H B O A R D   ***********
/*********************************************/


.dashboard-container{
  min-height: 100vh;
  overflow: hidden;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  background: #FFFFFF;
  overflow: hidden;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 5px 9px -7px rgba(0,0,0,0.4);
  box-sizing: border-box;
  z-index: 2;
}
header a{
  padding-top: 5px;
}
header .logo img{
  width: 150px;
}
header ul{
  display: flex;
  align-items: center;
}
header ul li{
  display: inline-block;
  padding-left: 1rem;
  line-height: 1;
}
header ul li:last-child{display: none}
header ul .notification{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--ubaapp-lighter-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification span{
  color: #FFFFFF;
  transform: rotate(180deg);
}
header .profile-image{
  width: 36px;
}
header ul .drawer{
  width: 25px;
  height: 25px;
}
header .bar{
  height: 2px;
  width: 100%;
  background: var(--ubaapp-dark-gray);
  margin: 4px 0;
}
.dashboard-body{
  display: flex;
  width: 100%;
  min-height: inherit;
}
.side-drawer{
  height: 100%;
  background: var(--ubaapp-dark-gray);
  position: fixed;
  left: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  flex-basis: 230px;
  z-index: 1;
  transform: translateX(0);
  transition: transform 300ms ease-out;
}
.side-drawer ul{
  margin: 150px auto 0;
}
.side-drawer ul li{
  margin-bottom: 1.5rem;
}
.side-drawer li a{
  font-size: .8rem;
  display: flex;
}
.side-drawer a span{
  width: 150px;
  margin-left: 10px;
}
footer{margin: 0 auto 20px}
footer img{width: 85px;}
footer p{
  font-size: .7rem;
  color: var(--ubaapp-lightest-gray);
}
.main-content{
  padding: 50px 100px;
  width: 100%;
  margin-left: 222px;
  margin-top: 50px;
  overflow-x: auto;
}
.main-content--top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
}
.main-content--top .caption{
  font-size: 1.3rem;
  color: var(--ubaapp-dark-gray);
  margin-right: 15px;
  font-weight: 600;
}
.main-content--top .time-section{
  display: flex;
  position: relative;
}
.main-content--top .date-selector{
  background: var(--ubaapp-lightest-gray);
  border-radius: 15px;
  position: relative;
  width: 110px;
  line-height: 1;
  padding-left: 15px;
  display: flex;
  align-items: center;
  font-size: .8rem;
}
.date-selector .period{
  color: var(--ubaapp-light-gray);
  margin-right: 5px;
}
.date-selector .icon-stack{
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: var(--ubaapp-dark-gray);
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon-stack .caret-down{
  color: #FFFFFF;
  font-size: 7px;
  transform: rotate(90deg);
}
.main-content--top form{width: 250px}
.search-form{
  position: relative;
  margin-bottom: 0;
}
.search-form input{
  padding: .5rem 2.2rem .5rem .5rem;
  margin-bottom: 0;
}
.search-form i{
  position: absolute;
  right: 15px;
  top: 6px;
  color: var(--ubaapp-light-gray);
}
.main-content--bottom{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.display-boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 300px;
  flex-grow: 1;
}
.display-box{
  flex-basis: 200px;
  flex-grow: 1;
  padding: 25px 20px;
  border: 1px solid var(--ubaapp-lightest-gray);
  margin-bottom: 15px;
}
.display-box .total{
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
}
.box2,.box4{
  margin-left: 15px;
}
.box1{border-bottom: 2px solid #345bee}
.box2{border-bottom: 2px solid #ee5934}
.box3{border-bottom: 2px solid #12c40c}
.box4{border-bottom: 2px solid #fcce03}
p.info{margin-bottom: 0.2em}
p.bold-info{margin-top: 0}
.summary-box--bottom .bold-info{
  font-size: 1.2rem;
}
.summary-box {
  flex-basis: 285px;
  flex-grow: 1;
  margin-left: 15px;
  max-height: max-content;
  border: 1px solid var(--ubaapp-lightest-gray);
}
.summary-box--top{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid var(--ubaapp-lightest-gray);
}
.caption .time-class{
  background: #CA1B2B;
  border-radius: 15px;
  padding: 4px 12px;
  color: #FFFFFF;
  margin-left: 15px;
}
.summary-box--bottom .bold-info{
  font-weight: bold;
}
.four-parts{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.part{
  flex-basis: 223px;
  padding-left: 20px;
}
.summary-plot{
  /* background: #e04b1e; */
}

/*****************************************************
******** //   A C C O R D I O N  S T Y L E S   *******
/*****************************************************/

.accordion {
  width: 100%;
  margin: 150px auto 0;
}
.panel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--ubaapp-lighter-gray);
  background: none;
  border: none;
  text-align: left;
  padding: 20px 25px 0px 0px;
  font-family: inherit;
  transition: color 0.2s linear;
  cursor: pointer;
}
.outer-panel{
  display: flex;
  align-items: center;
  color: var(--ubaapp-lighter-gray);
  margin-top: 20px;
}
.outer-panel:focus{
  color: var(--ubaapp-very-light-gray);
  outline: 0;
}
.outer-panel:before,.panel:before{
  font-size: 20px;
}
.outer-panel.dash:before{
  content: '\e904';
  font-family: "icomoon" !important;
}
.panel:first-child:before{
  content: '\e900';
  font-family: "icomoon" !important;
}
.panel:nth-child(2):before{
  content: '\e901';
  font-family: "icomoon" !important;
}
.panel:nth-child(3):before{
  content: '\e903';
  font-family: "icomoon" !important;
}
.outer-panel.sett:before{
  content: '\e902';
  font-family: "icomoon" !important;
}
.top-space{
  padding-top: 150px;
}

/*****************************************************
******** //   M E R C H A N T  P A R T N E R S   *****
/*****************************************************/

.no-merchant{
  margin: 150px auto 0;
  width: 280px;
  border: 1px dashed var(--ubaapp-lighter-gray);
  padding: 10px 0;
  text-align: center;
}
.no-merchant a{
  color: var(--ubaapp-maroon);
  text-decoration: underline;
  font-weight: 600;
}
.merchant-header{margin-bottom: 25px;}
.merchant-form label{
  text-transform: uppercase;
  color: var(--ubaapp-dark-gray);
  font-weight: 600;
}
.merchant-group{
  margin-bottom: 1.5rem;
  flex-basis: 48%;
  flex-grow: 1;
}
.merchant-group:nth-child(even){
  margin-left: 15px;
}
.merchant-group input[type=text]{
  background: var(--ubaapp-off-white);
  padding: .8rem .5rem;
  border-radius: 2px;
}
.merchant-form-fields{
  display: flex;
  flex-wrap: wrap;
}
.checkboxes{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkboxes label{
  text-transform: capitalize;
  /* margin-right: 20px; */
}
.checkboxes input{
  width: initial;
}
.align-checkboxes{
  display: flex;
  align-items: center;
}
.create-merchant-container button{
  margin-right: 10px;
  padding: 10px 20px;
  font-size: .9em;
  box-shadow: 0 3px 3px -3px rgba(0,0,0,0.6);
  border-radius: 2px;
  border: 0;
  color: #FFFFFF;
  background: var(--ubaapp-maroon);
  cursor: pointer;
}
.create-merchant-container .button-cancel{
  background: var(--ubaapp-light-gray);
}

/*********************************************
******** //  S Y S T E M  S E T T I N G S   *****
/*********************************************/
.table-settings{
  overflow-x: auto;
  height: 70vh;
}
.table-settings table {
  border-collapse: separate;
  border-spacing: 0 3px;
  width: 100%;
  font-size: 1em;
  color: var(--ubaapp-light-gray);
  white-space: nowrap !important;
}
.table-settings th{
  text-align: left;
  padding: 10px;
}
.table-settings td{
  border-top: 2px solid var(--ubaapp-very-light-gray);
  border-bottom: 2px solid var(--ubaapp-very-light-gray);
  padding-left: 10px;
  height: 50px;
}
.table-settings td:first-child{
  border-left: 2px solid var(--ubaapp-very-light-gray);
}
.table-settings td:last-child{
  border-right: 2px solid var(--ubaapp-very-light-gray);
}

/*********************************************
******** //   P O R T A L  R E P O R T  *****
/*********************************************/

.time-section .dropdown{
  position: absolute;
  top: 28px;
  right: 0;
  width: 180px;
  border-radius: 2px;
  padding: 5px 15px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
  z-index: 3;
  /* visibility: hidden; */
}
.time-section .dropdown li{
  line-height: 2rem;
  border-radius: 2px;
  padding-left: 10px;
  cursor: pointer;
}
.time-section .dropdown li:not(:last-child):hover{
  background: var(--ubaapp-dark-gray);
  color: #FFFFFF;
}
.time-section .dropdown button{
  font-size: .8em;
  border-radius: 15px;
  padding: 5px 17px;
  cursor: pointer;
  margin-right: 4px;
  transition: all 250ms;
}
.dropdown .apply-button{
  background: var(--ubaapp-maroon);
  color: #FFFFFF;
  border: 1px solid var(--ubaapp-maroon);
}
.dropdown .apply-button:hover{
  background: var(--ubaapp-maroon-deep);
  border-color:  var(--ubaapp-maroon-deep);
}
.dropdown .cancel-button{
  background: var(--ubaapp-lightest-gray);
  color: var(--ubaapp-dark-gray);
  border: 1px solid var(--ubaapp-dark-gray);
}
.dropdown .cancel-button:hover{
  background: var(--ubaapp-light-gray);
  border-color:  var(--ubaapp-light-gray);
  color: #FFFFFF;
}
.status-indicator-green{
  display: inline-block;
  margin-right: 5px;
  height: 8px;
  width: 8px;
  background: var(--ubaapp-green);
  border-radius: 50%;
}
.status-indicator-orange{
  display: inline-block;
  margin-right: 5px;
  height: 8px;
  width: 8px;
  background: var(--ubaapp-maroon);
  border-radius: 50%;
}
.inactive{background: var(--ubaapp-maroon)}
.admin-section{
  display: flex;
  width: 100%;
  margin: 10px 0;
  justify-content:  space-between;
}
.admin-section button {
  color: var(--ubaapp-very-light-gray);
  width: 180px;
  background: var(--ubaapp-light-gray);
  border: 0;
  border-radius: 2px;
  padding: 8px 0;
  font-size: .95em;
  box-shadow: 0px 4px 6px -5px #000;
  transition: all 250ms;
  cursor: pointer;
}
.admin-section button:hover{box-shadow: 
  0px 0px 5px -5px #000;
background: var(--ubaapp-lighter-gray)}
.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: var(--ubaapp-lighter-gray);
  font-size: .95em;
}
.pagination > *{
  flex-basis: 177px;
  padding: 5px 0;
}
.pagination .page-range{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-range .direction{
  padding: 5px 10px;
  border: 1px solid var(--ubaapp-lighter-gray);
  border-radius: 2px;
}
.pagination .download{text-align: right}
.pagination .download span{
  text-decoration: underline;
  color: var(--ubaapp-light-gray);
}
.error-msg{
  background: #ED213A;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);
  background: linear-gradient(to right, #93291E, #ED213A);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-msg h1{
  font-size: 45px;
  color: #FFFFFF;
  text-shadow: 0px 0px 6px #eee;
}

/*********************************************
******** //   M E D I A  Q U E R I E S   *****
/*********************************************/

@media(max-width: 475px){
.error-msg h1{font-size: 25px}

  .top-space{
    padding-top: 85px;
  }
  .accordion{
    margin-top: 85px;
  }
  .panel__label{
    padding-bottom: 0;
  }
  .panel__label:before{font-size: 15px}
  .panel__label:after{
    top: 64%;
    font-size: 10px;
  }
  .panel__content{
    margin-top: 20px;
  }
}
@media(max-width: 767px){
  header{padding: 0 1rem}
  header ul li:last-child{display: flex}
  .dashboard-body{
     margin-left: -222px;
  }
  /* .side-drawer{left: -222px} */
  .side-drawer ul{margin-top: 30px;}
  .main-content{
      padding: 20px 16px;
      min-width: 100%;
  }
  .main-content--top{
      /* margin-bottom: 30px; */
  }
  .main-content--top .time-section{
      justify-content: space-between;
      flex-grow: 1;
      margin-bottom: 10px;
  }
  .main-content--top form{width: 100%;}
  .display-boxes{
      width: 100%;
  }
  .display-box{
      flex-grow: 1;
  }
  .box2,.box4{
      margin-left: 0;
  }
  .summary-box{
      width: 100%;
      margin-left: 0;
  }
  .display-box .total{
      font-size: 1.5rem;
  }
  .merchant-group {
      flex-basis: 51%;
  }
  .merchant-group:nth-child(even) {
      margin-left: 0;
  }
  .main-content--top .caption{
      font-size: 1.2em;
  }
  .date-selector .icon-stack{
      height:  18px;
      width:  18px;
      cursor: pointer;
  }
  .time-section .dropdown{
      top: 22px;
  }
  .table-settings table {
      font-size: .95em;
  }
  .pagination > *{
      margin: 0 auto;
      text-align: center !important;
  }
  .admin-section{
      width: 100%;
  }
  .admin-section button{
      margin-right: 8px;
  }
}
@media(min-width: 768px) and (max-width: 796px){
  .merchant-group {
      flex-basis: 51%;
  }
  .merchant-group:nth-child(even) {
      margin-left: 0;
  }
}
@media(min-width: 768px) and (max-width: 991px){
  .main-content--top form{
      /* width: 100%; */
  }
  .main-content--top .time-section {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      /* width: 100%; */
  }
  .main-content--top{
      /* margin-bottom: 10px; */
  }
  .main-content{
      margin-left: 0;
  }
}
@media (max-width: 991px){
  .side-drawer{
    transform: translateX(-100%);
  }
  .side-drawer.open{
    transform: translateX(0);
  }
}
@media(min-width:768px) and (max-width:799px){
  .summary-box{
      margin-left: 0;
  }
  .box2,.box4{
      margin-left: 15px !important;
  }
}
@media(min-width:768px) and (max-width:920px){
  .box2,.box4{
      margin-left: 0;
  }
}
@media(min-width:1022px) and (max-width:1419px){
  .box2,.box4{
      margin-left: 0;
  }
}
@media(min-width:1150px){
  .admin-section{flex-basis: 450px}
}
@media(min-width: 1904px){
  .box3{margin-left: 15px}
}
