@font-face {
  font-family: "icomoon";
  src: url("./icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cms:before {
  content: "\e900";
}

.icon-user:before {
  content: "\e901";
}

.icon-settings:before {
  content: "\e902";
}

.icon-reporting:before {
  content: "\e903";
}

.icon-dashboard:before {
  content: "\e904";
}